.center-sm {
    width: 50%;
    margin-left: 25%;
    margin-top: 11%;
    border: 5px solid #fab03b !important;
    border-radius: 16px;
    box-sizing: inherit;
}

form {
    padding: 5%;
}

.btn-primary {
    background-color: #fab03b !important;
    border-color: #fab03b !important;
}


header{position:fixed;
    width:100%; background-color:#101010; color:#fff;
    display:flex; justify-content:flex-end; border-bottom: 4px solid #fab03b}
header nav form{margin:10px; margin-right:10px; display:flex; flex-direction:column;}
header nav form div{display:flex; justify-content:flex-end; align-items:center;}
header nav form input{
 border:none; border-radius:4px; padding: 5px; color:#000; margin: 4px}
header nav form input[type="submit"]{color:#fff; background-color: #3366ff}
header nav form a{color:#fff; margin-right:10px;}

header nav{display:flex; justify-content: space-between; width:100%; 
        align-items:center;}
header nav ul{padding:0;}
header nav ul li{list-style-type: none; display:inline-block; padding:10px;}
header nav ul li a{color:#fff; text-decoration:none;}






@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

*{font-family: 'Roboto', sans-serif;}

.erro{color:#f00}

#container{position:relative; padding:0 20px 0 20px; display:flex; flex-direction:column;}
#container input[type="submit"]{border: none; border-radius:4px; padding: 5px; color:#fff; background-color: #3366ff; width:95%}
#container form{width: 300px;}
#container form input{width:90%}
h1{border-bottom: 2px solid #3366ff; width:300px;}
#container form input{border:1px solid #a0a0a0; border-radius:4px; padding:5px}

/*@media usado para criar um estilo para tamanho específico*/
@media screen and (max-width: 480px) {
    header nav form div{display:flex; flex-flow:column wrap; width:100%;}
    #div2{flex-direction:column-reverse}
    header nav form{width:100%}
    header nav{width:90%; margin:0;margin-right:20px}
    header{justify-content:center; }
    header nav form div input{width:100%}
    header nav form div a{margin-top: 10px; margin-bottom:10px}
    header{display:flex; justify-content:center;}
    #container form{width: 100%;}
    #container form input{width:90%}
    #container form input[type="submit"]{width:95%}
    h1{width:90%};
}

#logo a{
    color:#fff;
    text-decoration: none;
}
#logo a h1{
    border:none;
    margin-left:20px;
}