@import url(css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,body{
    font-family: "Plus Jakarta Sans";
    height: 100%;
    background-color: #f5f5f5;
}

body{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

a {
    white-space: nowrap;
}

.centralizer {
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.form-box {
    max-width: 28rem;
}

.form-white {
    padding: 2.4rem;
    border-radius: .8rem;
    background-color: #ffffff;
    box-shadow: 1rem 1rem 2rem rgb(0 0 0 / 8%);
}

.title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-btn h4{
    margin-right: .8rem;
}

.field-sm-btn{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 38px;
    margin: auto;
}

.field-sm-btn input, .field-sm-btn div{
    border-radius: .25rem 0 0 .25rem;
}

.field-sm-btn .field-readonly{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color;
    text-transform: none;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
    overflow: hidden;
}

.field-sm-btn button{
    border-radius: 0 .25rem .25rem 0;
    color: #ffffff;
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
}

.field-sm-btn button svg{
    width: 100%;
    overflow: visible;
}

.field-sm-btn button:hover + .tooltiptext {
    background-color: #495057;
}

#dashboard .table-container{
    overflow: auto;
    overflow-y: hidden;
}

#dashboard table{
    min-width: 700px;
}

#dashboard .table td{
    vertical-align: middle;
}

#dashboard .field-sm-btn{
    grid-template-columns: 38px 1fr;
}

#dashboard .field-sm-btn button{
    border-radius: .25rem 0 0 .25rem;
}

#dashboard .field-sm-btn div{
    border-radius: 0 .25rem .25rem 0;
}

.expired {
    color: #a5a5a5;
}

@media only screen and (max-width: 600px) {
    .form-box {
        max-width: 100%;
    }
    .form-white {
        padding: .8rem;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }
}