{% extends "index.html" %}
{% load static %}

{% block title %} Gerar Senha {% endblock %}

{% block content %}
    <h1 class=" text-center">Gere uma senha segura:</h1>
    <!-- START PASSWORD DISPLAY BOX-->
    <div class="box box-primary">
        <div class="box-title">
            <h4>Senha gerada:</h4>
        </div>
        <div class="box-body">
            <br>
            <p class="fs-1 text-center" id="password-display"></p>
            <p class="fs-1 text-center">
                <i class="fa-solid fa-arrow-rotate-left" id="passowrd-update-button"></i>
            </p>
        </div>
        <div class="box-footer">
            Clique no botão <i class="fa-solid fa-arrow-rotate-left"></i> para gerar outra senha.
        </div>
    </div>
    <!-- END PASSWORD DISPLAY BOX-->

    <!-- START PASSWORD CUSTOM BOX-->
    <div class="box box-primary">
        <div class="box-title">
            <h4>Personalize sua senha</h4>
        </div>
        <div class="box-body">
            <input type="range" class="form-range" min="8" max="50" step="1" value="8" id="string-size-range">
            <div>
                <form method="post" class="form-inline">
                    <div class="d-inline-flex">
                        <label for="string-size">Número de caracteres:</label><br>
                        <input type="number" class="form-control" min="8" max="50" id="string-size-display">
                    </div>
                    {% csrf_token %}
                    <div class="form-group d-inline-flex">
                        {{ form_password.value }}
                    </div>
                    <div class="form-group d-inline-flex">
                        <label for="id_expiration_date">Data de expiração:</label>
                        {{ form_password.expiration_date }}
                    </div>
                    <div class="form-group d-inline-flex">
                        <label for="id_maximum_views">Número máximo de visualizações:</label>
                        {{ form_password.maximum_views }}
                    </div>
            </div>
            <!-- Mostra os erros na validação do formulário de cadastro - Início -->
            {% if form_password.expiration_date.errors %}
            <br>
            <div class="alert alert-danger" role="alert">
                {{ form_password.expiration_date.errors }}
            </div>
            {% elif form_password.value.errors %}
            <br>
            <div class="alert alert-danger" role="alert"></div>
            {{ form_password.value.errors }}
            </div>
                {% elif form_password.maximum_views.errors %}
            <br>
            <div class="alert alert-danger" role="alert"></div>
                {{ form_password.maximum_views.errors }}
            </div>
            {% endif %}
            <!-- Mostra os erros na validação do formulário de cadastro - Fim -->
        </div>
        <div class="box-footer">
            <input class="btn-personalized btn-cyan" type="submit" value="Cadastrar">
        </form>
        </div>
    </div>
    <!-- START PASSWORD CUSTOM BOX-->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}