{% extends "index.html" %}
{% load static %}

{% block title %} Listar Senhas Geradas {% endblock %}

{% block content %}
        <!-- Verifica se o usuário está fazendo a exclusão das senhas expiradas para renderizar as informações no template -->
        {% if request.path == '/passwords/expirated/' %}
        <div class="alert alert-danger" role="alert">
            <p class="fs-5 text-center">Você está prestes a excluir as senhas expiradas abaixo. Tem certeza que gostaria de continuar? Vocẽ também perderá todos os registros de acessos salvos no banco de dados. A operação é irreversível. </p>
        </div>
        {% endif %}
        <!-- Fim da verificação -->
        <!-- Início da tabela com uma lista de senhas -->
        <div class="box box-primary">
            <div class="box-title">
                <h4>Senhas</h4>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Senha</th>
                            <th class="text-center">Data de expiração</th>
                            <th class="text-center">Número máximo de visualizações</th>
                            <th class="text-center">Vizualizações Feitas</th>
                            <th class="text-center">Acessos</th>
                            <th class="text-center">Copiar</th>
                            <th class="text-center">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in passwords %}
                        <tr>
                            <td class="text-center">{{ i.value }}</td>
                            <td class="text-center">{{ i.expiration_date }}</td>
                            <td class="text-center">{{ i.maximum_views }}</td>
                            <td class="text-center">{{ i.views }}</td>
                            <td class="text-center"><a href="{% url 'get_password_id' i.id %}" class="link-dark"><i class="fa-solid fa-eye"></i></a></td>
                            <td class="text-center"><i class="fa-solid fa-copy" onclick="copyLinkToClipboard('{{ i.id }}')" id="{{ i.id }}" style="cursor: pointer;"></i></td>
                            <td class="text-center"><a href="{% url 'delete_password' i.id %}" class="link-dark"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                Total de ítens listados: {{ passwords.count }}
            </div>
        </div>
        <!-- Fim da tabela com uma lista de senhas -->
        <!-- Verifica se o usuário está fazendo a exclusão das senhas expiradas para renderizar as informações no template -->
        {% if request.path == '/passwords/expirated/' %}
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">
                <p class="fs-5 text-center">{{ exclusion_form }} Sim, desejo excluir e estou ciente de que esta operação é irreversível.</p>
            </div>
            <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn-personalized btn-cyan"></a>
            <input type="submit" value="Excluir" class="btn-personalized btn-red">
        </form>
        {% else %}
        <a href="{% url 'delete_expirated' %}"><input type="button" value="Excluir Expirados" class="btn-personalized btn-red"></a>
        {% endif %}
        <!-- Fim da verificação -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}