{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de senhas</title>
    <link rel="preload" href="{% static 'site.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'site.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <!-- ##### All Javascript Files ##### -->
    <!-- General Scripts js -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>
